@use 'variables' as v;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: v.$gray-black-color;
    
    // overflow: hidden;
}
.main{
    max-width: 1600px;
    margin: 0 auto;
    // border: 1px solid red;
    height: auto;
    position: relative;
    padding: 0 7.5rem 0;
    .header{
        width: 100%;
        height: 10.9375rem;
        // border:1px solid white;
        padding: 0px 5.9375rem 0px 0px ;
        display: flex;
        align-items: center;
        justify-content: space-between;        
        span{
            h1{
                font-size: 2.1875rem;
                text-transform: uppercase;
                display: inline-block;       
                color:v.$white-color;         
                &::first-letter{
                    color: v.$orange-color;
                }
            }
        }
        .navbar{
            width: 33.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid white;
            span{
               text-decoration: none;
               color:v.$orange-color;
               font-size: 1.625rem;
                img{
                    width: 0.9375rem;
                    margin: 3px;
                    transition: .5s all;                        
                }                
            }
            ul{                    
                display: none;
                width: 12.5rem;
                height: 14.375rem;
                background-color: v.$orange-color;
                opacity: .5;                  
                border-radius: 20px;
                position: absolute;
                top: 7.1875rem;  
                padding: 40px 20px 40px 30px;
                color: v.$white-color;
                font-size: 17px;
                overflow-y:auto;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
                &::-webkit-scrollbar{
                    background-color: white;
                    width: 15px; 
                    border-radius: 20px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: black;
                    border-radius: 20px;
                    height: 20px;
                }
                li{
                    margin-bottom: 14px;
                    
                }
            }
            .showOptions{
                display: block;               
            }
            .vent-options{
                right:630px;
            }
            .mnt-options{
                right:370px;
            }
            .tram-options{
                right:110px;
            }
            
            .arrowsMovement img{
                transform: rotate(180deg);
            }
        }
        .menu-responsive{
            display:none;
        }
    }
    .container{
        width: 100%;
        // border: 1px solid white;
        padding: 4.0625rem 0 0 0;
        .description{
            // width: 42.75rem;
            // border: 1px solid white;
            .title{
                font-size: 3.125rem;
                color:v.$white-color;
                text-transform: uppercase;
                font-weight: 900;
            }
            .text{
                color: v.$white-color;
                margin: 2.5rem 0 4.375rem 0;
                font-size: 1.6rem;
                line-height: 2.5rem;
                letter-spacing: 0.0625rem;
                .br1{
                    display: none;
                }
            }
            .button{
                width: 15.625rem;
                height: 4.375rem;
                border-radius: 40px;
                background-color: v.$orange-color;
                font-size: 1.5625rem;
                border: none;
                color: v.$white-color;
                font-weight: 700;
                box-shadow: 0 0 13px 3px #ff6e39;
            }
        }
        .img-main{
            position: absolute;
            right: 3.125rem;
            top: 23.125rem;
            width: 56.25rem;          
        }
        .img-responsive{
            display: none;
        }
    }
}
@media (max-width:1559px){
    html{
        font-size: 14px;
    }
}
@media (max-width:1366px){
    html{
        font-size: 12px;
    }
}
@media (max-width:1240px){
    html{
        font-size: 11px;
    }
}
@media (max-width:1140px){
    html{
        font-size: 10px;
    }
}
@media (max-width:390px){
    .main{
        padding: 0;           
        border:2px solid red;
        height: 100vh;
        overflow-x: hidden;
        .header{
            border:2px solid ;
            padding:0 25px;
            height: 14rem;
            span{
                h1{
                    font-size:3rem;
                }
            }            
            .navbar{
                display: none;
                .menu-close{
                    display: block;
                    float: right;
                    width:30px;
                }
                .container-options-mobile{
                    width: auto;
                    height: auto;
                    border:1px solid;
                    clear: both;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 200px;
                    gap: 25px;
                    a{
                        // display: none;
                        color: v.$white-color;
                        font-size:25px;
                        border:1px solid red;
                    }
                }
                
            }            
            .menu-responsive{
                display:block;                
                .background-dark-modal{
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.562);
                    position: fixed;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 100;
                    transform: translate(0,0);
                    transition: transform .5s ;             
                    .background-white-modal{
                        background-color: rgb(247, 238, 238);
                        width: 85%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        padding: 44px 30px;
                        overflow-y: auto;
                        .icon-close{
                            float: right;
                        }
                        .container-options-mobile{
                            clear: both;
                            margin-top: 130px;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            span{
                                font-size: 2rem;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                cursor:pointer;
                                width: fit-content;
                                
                                .arrows-mobile{
                                    color: black;
                                    width: 1.4rem;
                                    margin: 1px 3px;
                                    transition: .5s all;
                                }
                            }
                            ul{
                                list-style: none;                                
                                font-size: 1.9rem;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                width: auto;
                                height: 0px;
                                margin: 0 20px;
                                overflow: hidden;
                                transition: height .5s;
                                li:not(:last-child){
                                    margin-bottom: 15px;
                                }
                            }
                            .arrowsMovementMobile .arrows-mobile{
                                transform: rotate(180deg);
                            }
                            .vent-options-mobile{
                                display:block;
                            }
                            .mnt-options-mobile{
                                
                                display:block;
                                
                            }
                            .tram-options-mobile{
                                display: block;

                            }
                            
                        }
                    }       
                }
                .background-dark-modal.test{
                    transform: translate(100%,0);
                }
            }
        }
        .container{
            // border:1px solid white;
            padding: 10px 25px 0;
            .description{
                .container-texts{
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 170px;
                    .title{
                        font-size: 22px;
                        text-align: center;
                        // border: 1px solid yellow;
                    }
                    .text{
                        // border:1px solid red;
                        font-size: 1.7rem;
                        line-height: 2.4rem;
                        letter-spacing: 0.6px;

                        .br{
                            display:none;
                        }
                        .br1{
                            display:block;
                        }
                    }
                }
                .button{
                    margin: 70px 80px 0;
                }
            }
            .img-main{
                display: none;
            }     
            .img-responsive{
                display: block;
                position: absolute;
                width: 35.25rem;
                right: 0;
                top: 30.125rem;
                z-index: 50;
            }             
        }        
        .third-section{
            width:100%;
            height:100vh;
            background-color:blue;
        }
    }
}
@media (max-width:400px){
    html{
        font-size: 8px;
    }
}

